<!DOCTYPE html>
<head>
<meta charset="utf-8">
<title>webanalysis</title>
<style>
#charts {
  padding: 10px 0;
}

.chart {
  display: inline-block;
  height: 151px;
  margin-bottom: 20px;
  margin-left: 10px;
}

.reset {
  padding-left: 1em;
  font-size: smaller;
  color: #ccc;
}

.background.bar {
  fill: #ccc;
}

.foreground.bar {
  fill: steelblue;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font: 10px sans-serif;
}

.brush rect.extent {
  fill: steelblue;
  fill-opacity: .125;
}

.brush .resize path {
  fill: #eee;
  stroke: #666;
}

.meanValue{
	font-size:25px;
	position: relative;
	top: 30px;
	right: 5px;
}

#price-chart>.meanValue{
	top:0px;
}

#flight-list {
  min-height: 1024px;
}

#flight-list .date,
#flight-list .day {
  margin-bottom: .4em;
}

#flight-list .flight {
  line-height: 1.5em;
  background: #eee;
  width: 900px;
  margin-bottom: 1px;
}

#flight-list .flight div {
  display: inline-block;
}

#flight-list .time, 
#flight-list .cdate{
  width: 150px;
}

#flight-list .bed,
#flight-list .bath,
#flight-list .sqft,
#flight-list .daysOn {
	width: 35px;
	text-align: right;
}

#flight-list div.price{
    width: 105px;
    padding-left: 10px;
}
#flight-list div.city,
#flight-list div.address {
  width: 140px;
  padding-right: 10px;
}
#totals{
	font-color:steelblue;
}

.head div {
  display: inline-block;
  background: #eee;
}


</style>
</head>

<body>
	<div class="navbar navbar-inverse navbar-static-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="#">xingzhong</a>
				<ul class="nav">
					<li class="active"><a href="/">Home</a></li>
				    <li><a href="http://blog.sirxu.com">Blog</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container" id="charts">
		<div class="page-header">
		  <h1>web analytics <small>course project for BIA660 @ Stevens</small></h1>
		</div>
		<div class="alert" id="debug">
			<p class="lead">This project is done by Xingzhong, Dami and Chris. </p>
			<p> data from recent Hudson County real estate data. Academic usage only!</p>
			<p> powered by d3.js and crossfilter.</p>
		</div>
		<div id="bed-chart" class="chart">
			<div class="title">Bedroom</div>
			<div class="meanValue pull-right"></div>
		</div>
		<div id="bath-chart" class="chart">
			<div class="title">Bathroom</div>
			<div class="meanValue pull-right"></div>
		</div>
		<div id="dayon-chart" class="chart">
			<div class="title">Days on Market</div>
			<div class="meanValue pull-right"></div>
		</div>
		<div id="sqft-chart" class="chart">
			<div class="title">Sqft</div>
			<div class="meanValue pull-right"></div>
		</div>
		<div id="price-chart" class="chart">
			<div class="title">Price</div>
			<div class="meanValue pull-right"></div>
		</div>
		<div id="date-chart" class="chart">
			<div class="title">Date</div>
		</div>
		<aside class="offset8" id="totals"><span id="active">-</span> of <span id="total">-</span> Properties selected.</aside>
		<div id="googleMap" style="width:920px;height:380px;"></div>
		<div id="lists">
		  <div id="flight-list" class="list">
			  <div class="head">
				  <div class="flight">
				  	<div class="time">Date In</div>
					<div class="cdate">Date Out</div>
					<div class="bed">br</div>
					<div class="bath">ba</div>
					<div class="daysOn">days</div>
					<div class="price">price</div>
					<div class="city">city</div>
					<div class="address">address</div>
					<div class="sqft">sqft</div>
				</div>
			</div>
		  </div>
		</div>
		<footer>
			<p>Xingzhong 2012</p>
		</footer>
	</div>
</body>

<script src="http://code.jquery.com/jquery.min.js"></script>
<script src="../static/bootstrap/js/bootstrap.min.js"></script>
<link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<script src="../static/d3.js"></script>
<script src="../static/crossfilter.v1.js"></script>
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBHQjDDVd2CvW_oyB0VUyaV8Fk26-XYP80&sensor=false"></script>

<script>
var debug;
var myCenter=new google.maps.LatLng(40.76746,-74.032295);
var marker;
function initialize()
{
	var mapProp = {
	  center:myCenter,
	  zoom:13,
	  mapTypeId:google.maps.MapTypeId.ROADMAP
	  };
  
	var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);

	marker=new google.maps.Marker({
	  position:myCenter,
	  animation:google.maps.Animation.BOUNCE
	  });

	marker.setMap(map);

// (It's CSV, but GitHub Pages only gzip's JSON at the moment.)
// d3.csv("../static/data/flights.json", function(flights) {
d3.csv("../static/data/mls_dami.csv", function(flights) {
  // Various formatters.
  var formatNumber = d3.format(",d"),
      formatChange = d3.format("+,d"),
      formatDate = d3.time.format("%B %d, %Y"),
      formatTime = d3.time.format("%I:%M %p");

  // A nest operator, for grouping the flight list.
  var nestByDate = d3.nest()
      .key(function(d) { return d3.time.day(d.date); });
	  
  parseDate = d3.time.format("%m/%d/%Y").parse;
  
  flights.forEach(function(d, i) {	
	d.index = i;
	d.date = parseDate(d['Listing Date']);
	d.listDate = parseDate(d['Listing Date']);
	d.closeDate = parseDate(d['Closing Date']);
	d.daysOn = +d['Days On Market'];
	d.price = +parseInt(d.Price.replace(/\$|,/g, ""));
	d.bed = +d.Bedrooms;
	d.bath = +d["Total Bathrooms"];
	d.sqft = +d["Approx Sq Ft"];
    d.lat = +d["Latitude"];
    d.lng = +d["Longitude"];
    d.latlngset = new google.maps.LatLng(d.lat, d.lng);
	var markers = new google.maps.Marker({map: map, position: d.latlngset, icon:'../static/img/small_blue.png'});
	markers.setMap(map);
	debug = d;
  });

  // Create the crossfilter for the relevant dimensions and groups.
  var flight = crossfilter(flights),
      all = flight.groupAll(),
      date = flight.dimension(function(d) { return d3.time.day(d.date); }),
      dates = date.group(),
      bed = flight.dimension(function(d) { return d.bed; }),
      beds = bed.group(),
	  bath = flight.dimension(function(d) { return d.bath; }),
      baths = bath.group(),
      dayon = flight.dimension(function(d) { return  d.daysOn; }),
      dayons = dayon.group(function(d) { return Math.floor(d / 20) * 20; }),
      sqft = flight.dimension(function(d) { return  d.sqft; }),
      sqfts = sqft.group(function(d) { return Math.floor(d / 100) * 100; }),
      price = flight.dimension(function(d) { return  d.price; }),
      prices = price.group(function(d) { return Math.floor(d / 1000) * 1000; }),
	  ind = flight.dimension(function(d) { return d.index; }),
	  inds = ind.group();
	  
  console.log(d3.extent(flights, function(d) { return d.daysOn; }));
  
  var charts = [

    barChart()
        .dimension(bed)
        .group(beds)
      .x(d3.scale.linear()
        .domain(d3.extent(flights, function(d) { return d.bed; }))
        .rangeRound([0, 100])),
		
    barChart()
        .dimension(bath)
        .group(baths)
      .x(d3.scale.linear()
        .domain(d3.extent(flights, function(d) { return d.bath; }))
        .rangeRound([0, 90])),

    barChart()
        .dimension(dayon)
        .group(dayons)
      .x(d3.scale.linear()
        .domain([0, 400])
        .rangeRound([0, 200])),
		
    barChart()
        .dimension(sqft)
        .group(sqfts)
      .x(d3.scale.linear()
        .domain([500, 1500])
        .rangeRound([0, 150])),

    barChart()
        .dimension(price)
        .group(prices)
      .x(d3.scale.linear()
        .domain(d3.extent(flights, function(d) { return d.price; }))
        .rangeRound([0, 200]) ),
	
    barChart()
        .dimension(date)
        .group(dates)
        .round(d3.time.day.round)
      .x(d3.time.scale()
        .domain(d3.extent(flights, function(d) { return d.date; }))
        .rangeRound([0, 10 * 90]))
        .filter([new Date(2007, 1, 1), new Date(2009, 1, 1)]),
    
  ];
  
  // Given our array of charts, which we assume are in the same order as the
  // .chart elements in the DOM, bind the charts to the DOM and render them.
  // We also listen to the chart's brush events to update the display.
  var chart = d3.selectAll(".chart")
      .data(charts)
      .each(function(chart) { chart.on("brush", renderAll).on("brushend", renderAll); });

  // Render the initial lists.
  var list = d3.selectAll(".list")
      .data([flightList]);

  // Render the total.
  d3.selectAll("#total")
      .text(formatNumber(flight.size()));
  
  

  renderAll();
  
  // Renders the specified chart or list.
  function render(method) {
    d3.select(this).call(method);
	$("#bed-chart>.meanValue").text(getMean(beds));
	$("#bath-chart>.meanValue").text(getMean(baths));
	$("#dayon-chart>.meanValue").text(getMean(dayons));
	$("#sqft-chart>.meanValue").text(getMean(sqfts));
	$("#price-chart>.meanValue").text("$"+formatNumber(parseInt(getMean(prices))));
	console.log();
  }
  

  // Whenever the brush moves, re-rendering everything.
  function renderAll() {
    chart.each(render);
    list.each(render);
    d3.select("#active").text(formatNumber(all.value()));
	console.log(ind);
	debug = ind;
  }

  function getMean(lists){
  	var sum = 0;
  	var num = 0;
  	jQuery.each(lists.all(), function(b){
  		sum += lists.all()[b].key * lists.all()[b].value;
  		num += lists.all()[b].value;
  	});
	return (sum/num).toFixed(2);
  }
  
  window.filter = function(filters) {
    filters.forEach(function(d, i) { charts[i].filter(d); });
    renderAll();
  };

  window.reset = function(i) {
    charts[i].filter(null);
    renderAll();
  };

  function flightList(div) {
    var flightsByDate = nestByDate.entries(date.top(20));
	
    div.each(function() {
	  
      var date = d3.select(this).selectAll(".date")
          .data(flightsByDate, function(d) { return d.key; });
		  
      date.enter().append("div")
          .attr("class", "date");
        //.append("div")
        //  .attr("class", "day")
        //  .text(function(d) { return formatDate(d.values[0].date); });

      date.exit().remove();
		
      var flight = date.order().selectAll(".flight")
          .data(function(d) { return d.values; }, function(d) { return d.index; });

      var flightEnter = flight.enter().append("div")
          .attr("class", "flight");

      flightEnter.append("div")
          .attr("class", "time")
          //.text(function(d) { return formatTime(d.date); });
		  .text(function(d) { return formatDate(d.date); });

      flightEnter.append("div")
          .attr("class", "cdate")
          .text(function(d) { return formatDate(d.closeDate); });
		  
      flightEnter.append("div")
          .attr("class", "bed")
          .classed("early", function(d) { return d.bed < 0; })
          .text(function(d) { return d.bed; });
		  
      flightEnter.append("div")
          .attr("class", "bath")
          .classed("early", function(d) { return d.bath < 0; })
          .text(function(d) { return d.bath; });
			  
      flightEnter.append("div")
          .attr("class", "daysOn")
          .text(function(d) { return d.daysOn; });
	  
      flightEnter.append("div")
          .attr("class", "price")
          .text(function(d) { return "$ "+formatNumber(d.price); });

      flightEnter.append("div")
          .attr("class", "city")
          .text(function(d) { return d.City; });
		  
      flightEnter.append("div")
          .attr("class", "address")
          .text(function(d) { return d.Address; });
		  
      flightEnter.append("div")
          .attr("class", "sqft")
          .text(function(d) { return d.sqft; });
		  
      flight.exit().remove();
	  	
      flight.order();

    });
  }

  function barChart() {
    if (!barChart.id) barChart.id = 0;

    var margin = {top: 10, right: 10, bottom: 20, left: 10},
        x,
        y = d3.scale.linear().range([100, 0]),
        id = barChart.id++,
        axis = d3.svg.axis().orient("bottom"),
        brush = d3.svg.brush(),
        brushDirty,
        dimension,
        group,
        round;

    function chart(div) {
      var width = x.range()[1],
          height = y.range()[0];

      y.domain([0, group.top(1)[0].value]);

      div.each(function() {
        var div = d3.select(this),
            g = div.select("g");

        // Create the skeletal chart.
        if (g.empty()) {
          div.select(".title").append("a")
              .attr("href", "javascript:reset(" + id + ")")
              .attr("class", "reset")
              .text("reset")
              .style("display", "none");

          g = div.append("svg")
              .attr("width", width + margin.left + margin.right)
              .attr("height", height + margin.top + margin.bottom)
            .append("g")
              .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

          g.append("clipPath")
              .attr("id", "clip-" + id)
            .append("rect")
              .attr("width", width)
              .attr("height", height);

          g.selectAll(".bar")
              .data(["background", "foreground"])
            .enter().append("path")
              .attr("class", function(d) { return d + " bar"; })
              .datum(group.all());

          g.selectAll(".foreground.bar")
              .attr("clip-path", "url(#clip-" + id + ")");

          g.append("g")
              .attr("class", "axis")
              .attr("transform", "translate(0," + height + ")")
              .call(axis);

          // Initialize the brush component with pretty resize handles.
          var gBrush = g.append("g").attr("class", "brush").call(brush);
          gBrush.selectAll("rect").attr("height", height);
          gBrush.selectAll(".resize").append("path").attr("d", resizePath);
        }

        // Only redraw the brush if set externally.
        if (brushDirty) {
          brushDirty = false;
          g.selectAll(".brush").call(brush);
          div.select(".title a").style("display", brush.empty() ? "none" : null);
          if (brush.empty()) {
            g.selectAll("#clip-" + id + " rect")
                .attr("x", 0)
                .attr("width", width);
          } else {
            var extent = brush.extent();
            g.selectAll("#clip-" + id + " rect")
                .attr("x", x(extent[0]))
                .attr("width", x(extent[1]) - x(extent[0]));
          }
        }

        g.selectAll(".bar").attr("d", barPath);
      });

      function barPath(groups) {
        var path = [],
            i = -1,
            n = groups.length,
            d;
        while (++i < n) {
          d = groups[i];
          path.push("M", x(d.key), ",", height, "V", y(d.value), "h9V", height);
        }
        return path.join("");
      }

      function resizePath(d) {
        var e = +(d == "e"),
            x = e ? 1 : -1,
            y = height / 3;
        return "M" + (.5 * x) + "," + y
            + "A6,6 0 0 " + e + " " + (6.5 * x) + "," + (y + 6)
            + "V" + (2 * y - 6)
            + "A6,6 0 0 " + e + " " + (.5 * x) + "," + (2 * y)
            + "Z"
            + "M" + (2.5 * x) + "," + (y + 8)
            + "V" + (2 * y - 8)
            + "M" + (4.5 * x) + "," + (y + 8)
            + "V" + (2 * y - 8);
      }
    }

    brush.on("brushstart.chart", function() {
      var div = d3.select(this.parentNode.parentNode.parentNode);
      div.select(".title a").style("display", null);
    });

    brush.on("brush.chart", function() {
      var g = d3.select(this.parentNode),
          extent = brush.extent();
      if (round) g.select(".brush")
          .call(brush.extent(extent = extent.map(round)))
        .selectAll(".resize")
          .style("display", null);
      g.select("#clip-" + id + " rect")
          .attr("x", x(extent[0]))
          .attr("width", x(extent[1]) - x(extent[0]));
      dimension.filterRange(extent);
    });

    brush.on("brushend.chart", function() {
      if (brush.empty()) {
        var div = d3.select(this.parentNode.parentNode.parentNode);
        div.select(".title a").style("display", "none");
        div.select("#clip-" + id + " rect").attr("x", null).attr("width", "100%");
        dimension.filterAll();
      }
    });

    chart.margin = function(_) {
      if (!arguments.length) return margin;
      margin = _;
      return chart;
    };

    chart.x = function(_) {
      if (!arguments.length) return x;
      x = _;
      axis.scale(x).ticks(4);
      brush.x(x);
      return chart;
    };

    chart.y = function(_) {
      if (!arguments.length) return y;
      y = _;
      return chart;
    };

    chart.dimension = function(_) {
      if (!arguments.length) return dimension;
      dimension = _;
      return chart;
    };

    chart.filter = function(_) {
      if (_) {
        brush.extent(_);
        dimension.filterRange(_);
      } else {
        brush.clear();
        dimension.filterAll();
      }
      brushDirty = true;
      return chart;
    };

    chart.group = function(_) {
      if (!arguments.length) return group;
      group = _;
      return chart;
    };

    chart.round = function(_) {
      if (!arguments.length) return round;
      round = _;
      return chart;
    };

    return d3.rebind(chart, brush, "on");
  }
});
}
google.maps.event.addDomListener(window, 'load', initialize);
</script>
