<html>
	<head> 
		<title> xingzhong </title>
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-static-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="#">xingzhong</a>
					<ul class="nav">
						<li class="active"><a href="/">Home</a></li>
					    <li><a href="http://blog.sirxu.com">Blog</a></li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="container">
			<div class="page-header">
			  <h1>web analytics <small>course project for BIA660 @ Stevens</small></h1>
			</div>
			<div id="d3vis"> </div> 
			<table class="table table-striped">
				<caption> twitter </caption>
				<thead>
					<tr>
						<th> profile </th>
						<th> name </th>
						<th> time </th>
						<th> text </th>
						<th> # </th>
					</tr>
				</thead>
				<tbody>
					{% for c in context %}
					<tr>
						<td><img src='{{c.user.profile_image_url_https}}'></td>
						<td>{{c.user.name}}</td>
						<td>{{c.created_at}}</td>
						<td>{{c.text}}</td>
						<td>{{c.retweet_count}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			<div class="well">
				{% for c in context %}
					<p> {{c.entities}} </p>
				{% endfor %}
			</div>
			<div class="well">
				<p>[
				{% for c in context %}
					 {{c.retweet_count}},
				{% endfor %}]
				</p>
			</div>
			<hr>
			<footer>
				<p>Xingzhong 2012</p>
			</footer>
		</div>
		
	</body>
	<script src="http://code.jquery.com/jquery.min.js"></script>
	<script src="../static/bootstrap/js/bootstrap.min.js"></script>
	<link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<script src="../static/d3.js"></script>
	<style>
		.axis path,
		.axis line {
		  fill: none;
		  stroke: #000;
		  shape-rendering: crispEdges;
		}

		.bar {
  			fill-opacity: .9;
		}
		.title {
			font-size: 15px;
			width:100px;
		}
	</style>
	<script type="text/javascript">
		var margin = {top: 20, right: 20, bottom: 30, left: 50},
    		width = 960 - margin.left - margin.right,
    		height = 500 - margin.top - margin.bottom;

		var format = d3.time.format("%a %b %e %H:%M:%S %Y").parse;
		var x = d3.time.scale()
		    .range([0, width]);

		var y = d3.scale.linear()
			.range([height, 0]);

		var color = d3.rgb("violet")

			
		var xAxis = d3.svg.axis()
			.scale(x)
			.orient("bottom")
			.tickFormat(d3.time.format("%b %e %HH"));
			
		var yAxis = d3.svg.axis()
			.scale(y)
			.orient("left");

			
		var svg = d3.select("div#d3vis")
					.append("svg")
			        .attr("width", width + margin.left + margin.right)
			        .attr("height", height + margin.top + margin.bottom)
					.append("g")
					.attr("transform", "translate(" + margin.left + "," + margin.top + ")"); 
					
		d3.json("/tapi?count=40&name=cnn", function(json){
			json.forEach(function(d) {
				d.time = format(d.created_at.slice(0,19)+d.created_at.slice(25));
				d.retweet_count = +d.retweet_count;
				d.name = d.user.name;
				d.img = d.user.profile_image_url_https;
				d.text = d.text;
				console.log(d);
			});

			x.domain(d3.extent(json, function(d) { return d.time; }));
			y.domain(d3.extent(json, function(d) { return d.retweet_count;}));
			console.log(d3.extent(json, function(d) { return d.retweet_count;}));
			svg.append("g")
				.attr("class", "x axis")
				.attr("transform", "translate(0," + height + ")")
				.call(xAxis);

			svg.append("g")
				.attr("class", "y axis")
				.call(yAxis);

			title = svg.append("g")
					.append("text")
					.attr("class", "text")
					.attr("y", ".71em")
					.attr("x", ".71em")
					.text("")

			image = title.append("image")
					.attr("x", ".71em")
					.attr("y", "1.71em");
					

			
			svg.selectAll(".bar")
				.data(json)
				.enter().append("circle")
				.attr("class", "bar")
				.attr("cx", function(d) { return x(d.time);})
				.attr("cy", function(d) { return y(d.retweet_count); })
				.attr("r", 10)
				.attr("fill", function(d) {
					return color.darker((y(d.retweet_count))/300);
				})
				.on("mouseover", function(d){ 
					title.text(d.text);
					image.attr("xlink:href", d.img);
				});
				
		});
	</script>
	
</html>