<html>
	<head> 
		<title> xingzhong </title>
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-static-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="#">xingzhong</a>
					<ul class="nav">
						<li class="active"><a href="/">Home</a></li>
					    <li><a href="http://blog.sirxu.com">Blog</a></li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="container">
			<div class="page-header">
			  <h1>web analytics <small>course project for BIA660 @ Stevens</small></h1>
			</div>
			<div class="tabbable"> <!-- Only required for left/right tabs -->
			  <ul class="nav nav-tabs">
			    <li class="active"><a href="#tab1" data-toggle="tab">Section 1</a></li>
			    <li><a href="#tab2" data-toggle="tab">Section 2</a></li>
			  </ul>
			  <div class="tab-content">
			    <div class="tab-pane active" id="tab1">
					<form class="offset1">
						<div class="input-append">
					  		<input type="text" id="tname" class="span8" style="height:30px;"value="BarackObama, MittRomney, JoeBiden, PaulRyanVP">
					  		<button type="button" id="tnameb" class="btn btn-primary">analyze</button>
						</div>
					</form>
					<div id="d3vis1"> </div> 
					<hr>
					<ul class="thumbnails" id="tweeter">
						<li class="span1"> </li>
					</ul>
			    </div>
			    <div class="tab-pane" id="tab2">
					<form class="offset1">
						<div class="input-append">
					  		<input type="text" id="tname" class="span8" style="height:30px;"value="BarackObama, MittRomney, JoeBiden, PaulRyanVP">
					  		<button type="button" id="tab2button" class="btn btn-primary">analyze</button>
						</div>
					</form>
			      	<div id="d3vis2"> </div> 
			    </div>
			  </div>
			</div>
			
			<hr>
			<h2> data visualization </h2>
			<p class="offset9"> - Xingzhong and Dami <br> - Nov 20, 2012 </p>
			
			<p class="lead">
				this project aims to explore light weighted, time sequenced data extracted from a cloud service api, while following election 2012 candidates.
			</p>
			<h3> introduction </h3>
			<p>
				There are two significant features for big data analysis in recent years.  Firstly, this so called big data tends to be small in terms of respective data element sizes. We realize that the modern online services are focus on the small timestamped event data;  usually this collected data is small and easily packaged through json and xml.  However, we call big data; because, there are huge amounts of this data being generated and waiting to be processed for any and every time interval desired. Secondly, the big data analysis is focused on data metrics, as opposed to data storage. This data is useless unless useful data metrics and analyses are derived.  
			</p>
			<h3> problem and insights </h3>
			<p>
				For example, twitter, square, and our new startup yesgoody face the same big data challenges.  Whether the data is represented by 140 character tweet or a simple purchase confirmation, the data share a common features of being light weighted and  time sequenced.  

				Technically, collection and storage of the data does not present a problem.  It is finding the correct a view of the collected data, otherwise it is easy to get lost in the data chaos.  To remedy this, data visualization is a highly intuitive and clear method to present, explore, and understand such data; while providing a clear roadmap into the data to find insights.  

				As such, we utilized twitter's timeline data of the 2012 Presidential and Vice-Presidential candidates tweets, as our starting point to explore the world of big data visualization.  As such, we wanted to know which of the candidates:
			</p>
			<ul>
				<li> 
					has the greatest overall twitter “presence”?  By presence, we mean vocalizes and engages the community via tweets.
				</li>
				<ul>
					<li>
						Throughout the race, Obama/Biden has always maintained leading presence.  As for individual candidate presence, the ranking has been Obama always leading, Romney and Biden interchanging for 2nd and 3rd place, and Ryan always following.
					</li>
					<li>
						We seen after the election, little to no presence from Romney/Ryan.  And the same continued presence momentum from Obama/Biden. 
					</li>
				</ul>
				<li>
					has the highest frequency of tweets observable through time (2 week periods)?  
					<ul>
						<li>
							#1 - Obama, #2 - Biden, #3 - Romney, & #4 - Ryan. This is highly reflective of campaign culture and style.   
						</li>
					</ul>
				</li>
				<li>
					were more prone to change their tweeting pattern during race culminating up to the election?
					<ul>
						<li>
							It was observable from tweet patterns that Obama/Biden maintained consistency of presence momentum. 
						</li>
						<li>
							While Romney/Ryan showed significant variations in presence momentum at different events through the race running into the election.  And has virtually, gone to zero presence momentum of tweets. 
						</li>
					</ul>
				</li>
			</ul>
			
			<h3> approach and objective </h3>
			<p> Though analyses of twitter data is not our goal, we are using it to discover a more generic method to analyze this type of light weighted, time sequenced  data.  And later extend our discoveries to our end goal concerns of yesgoody’s transaction data.
			</p>
			<hr>
			<footer>
				<p>Xingzhong 2012</p>
			</footer>
		</div>
		
	</body>
	<script src="http://code.jquery.com/jquery.min.js"></script>
	<script src="../static/bootstrap/js/bootstrap.min.js"></script>
	<link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<script src="../static/d3.js"></script>
	<style>
		.axis line {
		  fill: none;
		  stroke: #000;
		  shape-rendering: crispEdges;
		}
		.x.axis path {
		  display: none;
		}
		.bar {
  			fill-opacity: .7;
		}
		
		.ttext {
			font-size: 14px;
		}
		.ttitle {
			font-size: 16px;
			
		}
		.tblock {
			fill:white;
			fill-opacity:0.9;
		}
		
	</style>
	<script type="text/javascript">
		var margin = {top: 20, right: 20, bottom: 30, left: 50},
    		width = 960 - margin.left - margin.right,
    		height = 400 - margin.top - margin.bottom;

		var format = d3.time.format("%a %b %e %H:%M:%S %Y").parse;
		var x = d3.time.scale()
		    .range([0, width]);

		var y = d3.scale.log()
			.range([height, 0]);

		var color = d3.scale.category10()

			
		var xAxis = d3.svg.axis()
			.scale(x)
			.orient("bottom")
			//.tickFormat(d3.time.format("%b %e\n %HH"));
			
		var yAxis = d3.svg.axis()
			.scale(y)
			.orient("left");

		$("#tab2button").click(function(){
			d3.select("svg").remove();
			var svg = d3.select("div#d3vis2")
					.append("svg")
			        .attr("width", width + margin.left + margin.right)
			        .attr("height", height + margin.top + margin.bottom)
					.append("g")
					.attr("transform", "translate(" + margin.left + "," + margin.top + ")");
					
			var geoposition =svg.append("text")
			  .attr("x",60)
			  .attr("y",60);
			
			start = Date.now();	
			speed = 0.1;
			d3.json("/tapi2?trend=1", function(json) {
				d3.timer(function(){
					t = (Date.now() - start)*speed;
					text = json[parseInt(t/width)].name;
					geoposition
						.attr("x", t%width)
						.text(text);
				});
			});
			
		});
		
		
		$("#tnameb").click(function() {
		  	tname = $("#tname").val();
			d3.select("svg").remove();
			var svg = d3.select("div#d3vis1")
					.append("svg")
			        .attr("width", width + margin.left + margin.right)
			        .attr("height", height + margin.top + margin.bottom)
					.append("g")
					.attr("transform", "translate(" + margin.left + "," + margin.top + ")");
			d3.json("/tapi?count=50&name="+tname, function(json){
				var commonMin = new Object();
				var legend = new Object();
				json.forEach(function(d) {
					d.time = format(d.created_at.slice(0,19)+d.created_at.slice(25));
					d.retweet_count = +d.retweet_count+1;
					d.name = d.user.name;
					d.img = d.user.profile_image_url_https;
					d.text = d.text;
					if (commonMin[d.name] == undefined){
						commonMin[d.name] = d.time;
					}
					else if(d.time < commonMin[d.name]){
						commonMin[d.name] = d.time;
					}
					if (legend[d.name] == undefined){
						legend[d.name] = {name:d.name, img:d.img, color:color(d.name)};
					}
					//console.log(d);
				});
				
				var maxtime = 0 ;
				for (var prop in commonMin) {
					if (commonMin[prop] > maxtime){
						maxtime = commonMin[prop];
					}
				}
				
				//console.log(legend);
				var i = 0;
				d3.select("#tweeter").html(" ");
				for (var prop in legend) {
					
					thumb = d3.select("#tweeter")
						.append("li")
						.attr("class", "span2");
						
					thumb.append("div")
						.attr("class", "thumbnail")
						.attr("style", "background-color:"+legend[prop].color+";background-image:None;")
						.append("img")
						.attr("src", legend[prop].img);
						
					thumb.append("p")
						.text(legend[prop].name);
				}
					
				x.domain([maxtime, d3.max(json, function(d) { return d.time; })] );
				y.domain(d3.extent(json, function(d) { return d.retweet_count;}));
			
				svg.append("g")
					.attr("class", "x axis")
					.attr("transform", "translate(0," + height + ")")
					.call(xAxis);

				svg.selectAll(".bar")
					.data(json)
					.enter().append("circle")
					.attr("class", "bar")
					.attr("cx", function(d) { return x(d.time);})
					.attr("cy", function(d) { return y(d.retweet_count); })
					.attr("r", function(d) { 
						return 2.5*Math.log(d.retweet_count);
					})
					.attr("fill", function(d) {
						return color(d.name);
					})
					.on("mouseover", function(d){ 
						if (x(d.time) > width/2){
							tw = x(d.time) - 400;
						}
						else {
							tw = x(d.time);
						}
						if (y(d.retweet_count) > height/2){
							th = y(d.retweet_count) - 70;
						}
						else {
							th = y(d.retweet_count);
						}
						tweet
						.attr("transform", "translate(" + tw + "," + th + ")");
						title.text(d.name + "  [#"+d.retweet_count+"]");
						if (d.text.length > 100){
							ttext1.text(d.text.slice(0,50));
							ttext2.text(d.text.slice(50,100));
							ttext3.text(d.text.slice(100));
						}
						else if (d.text.length > 50) {
							ttext1.text(d.text.slice(0,50));
							ttext2.text(d.text.slice(50));
						}
						else{
							ttext1.text(d.text);
						}
						image.attr("xlink:href", d.img);
					});	
					tweet = svg.append("g")
						.attr("id", "tweet");
				
					block = tweet
							.append("rect")
							.attr("class", "tblock")
							.attr("height", 70)
							.attr("width", 400)
						
					
					title = tweet
							.append("text")
							.attr("class", "ttitle")
							.attr("dx", 55)
							.attr("dy", 20);
						
					ttext1 = tweet
							.append("text")
							.attr("class", "ttext")
							.attr("dx", 55)
							.attr("dy", 35);
					ttext2 = tweet
							.append("text")
							.attr("class", "ttext")
							.attr("dx", 60)
							.attr("dy", 50);
						
					ttext3 = tweet
							.append("text")
							.attr("class", "ttext")
							.attr("dx", 60)
							.attr("dy", 65);		

					image = tweet
							.append("image")
							.attr("height", 48)
							.attr("width", 48)
			});

		});
		
		
	</script>
	
</html>